<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wiki pages{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div style="width: 800px; margin: auto;">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
